@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

/* shared styles */
main section {
    margin-bottom: 120px;
}

.font-Merriweather {
    font-family: "Merriweather", serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.mb {
    margin-bottom: 120px;
}

.text-primary {
    color: rgb(255, 0, 0);
}

/* banner styles */
.banner {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    max-width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 120px;
}

.banner-content {
    color: white;
    text-align: center;
}

.banner-sub-title {
    font-size: 32px;
    margin-bottom: 16px;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
}

/* deals styles */
.deals {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.deals-discount {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.deals-sub-title {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.deals-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* party styles */
.party {
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    max-width: 1320px;
    margin: 0 auto;
    color: white;
    border-radius: 16px;
    margin-top: 120px;
}

.party-content {
    display: flex;
    align-items: center;
    padding: 60px 120px;
}

.party-title {
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 18px;
}

.party-des {
    font-size: 18px;
    margin-bottom: 48px;
    color: rgba(255, 255, 255, 0.8);
}

.btn-join-now {
    border-radius: 2px;
    border: none;
    color: white;
    padding: 10px 15px;
    background: rgb(255, 0, 0);
}

/* place styles */
.place {
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
    border-radius: 16px;
    padding: 100px 300px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.place-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.place-special {
    color: rgb(255, 0, 0);
}

/* offer styles */
.offer {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
}

.offer-content {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 120px;
}

.offer-title {
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.offer-coming-soon {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.offer-column-2 {
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    padding: 20px;
}

.offer-year {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: rgb(255, 0, 0);
}

.offer-des {
    font-size: 20px;
    margin-bottom: 45px;
}

/* sale styles */
.sale {
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 130px;
}

.sale-sub-header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.sale-header {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;

}

.sale-des {
    margin-bottom: 60px;
}

/* images position styles */
.image-content {
    margin-top: 600px;
}

.red-bg {
    position: relative;
    background-color: red;
    height: 200px;
    border-radius: 15px;
}

.image-1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.image-2 {
    position: absolute;
    right: 0;
    bottom: 250px;
}

/* gift styles */
.gift {
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.gift-sub-header {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.gift-header {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.gift-des {
    margin-bottom: 48px;
    color: rgba(7, 2, 17, 0.6);
}

.gift-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}


/* news styles */
.news {
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 130px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 210px;
}

.news-image {
    margin-bottom: 45px;
}

.news-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.news-des {
    margin-bottom: 48px;
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
}

.news-field {
    padding: 25px 30px;
    width: 400px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

.sub-container {
    display: flex;
    display: inline;
    width: 650px;
}

.btn-subscribe {
    border-radius: 0px 50px 50px 0px;
    border: none;
    padding: 25px 30px;
    background: rgb(255, 0, 0);
    color: white;
}

/* footer styles */
.footer {
    width: 100%;
    background: rgb(7, 2, 17);
    color: white;
}

.footer-content {
    padding: 120px 140px;
    font-size: 24px;
    font-weight: 500;
}

.footer-top-container {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.hori-role {
    margin: 50px 0;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.footer-icons {
    text-align: center;
}

.footer-icons img {
    margin-right: 24px;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
}